<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/page.css" />
    <link rel="stylesheet" type="text/css" href="css/ui.css" />
    
    <title>Document</title>
</head>
<body>

    <h1>VISUAL NOVEL</h1>

    <div id="container">
            <div id="sceneContent">
                <img src="https://www.treehugger.com/thmb/nZJNVsrHSBcaEVNnrIyVIj9IMKM=/2121x1414/filters:fill(auto,1)/GettyImages-1273584292-cbcd5f85f4c646d58f7a7fa158dcaaeb.jpg" 
                class="img-fluid" alt="Responsive image">
            </div>
        <div id="placeName">
            <h3>Woods</h3>
        </div>
            <div id="choices"> 
                <div id="characterName">
                   IRIS
                </div>
                    <div class="choice">
                        <a href="">Make something</a>
                    </div>
            </div>
	</div>

 
</body>
</html>