<html>
<head>
	<meta charset="utf8"/>

	<link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>

	<link href="css/reset.css" rel="stylesheet">
	<link href="css/index.css" rel="stylesheet">

</head>
<body>

	<h1>VISUAL NOVEL</h1>

	<div id="container">
        <h2>ACHIEVEMENTS</h2>
		<ul>
            <% for (let sav in foundUser.achievements){ %> 
                <% if(foundUser.achievements[sav]!=null){ %> 
                <li>
                    <div class="card 1">
                        <div class="card_image">
                            <img src="img/trophy.jpg">
                            </div>
                        <div class="card_title title-white">
                          <p><%= foundUser.achievements[sav]%> </p>
                        </div>
                      </div>
                    </a>
                </li>
                <% } %> 
                <% } %> 
            
            
        </ul>
	</div>

</body>

</html>